* {
    margin:20px;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    
    
    
       }
body{
    text-align: center;
    align-items: center;

}
form {
    align-items : center;
    display : flex;
    flex-direction:column;
  }








/* #tehBox {  */
/*         */
/*         */
        /* -webkit-box-shadow: 5px 5px 29px 5px #000000;  */
        /* box-shadow: 5px 5px 29px 5px #000000; */
/*  */
/*  */
/* } */
/*  */
/*  */



































