* {
    margin:20px;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    
       }

 .container {

  text-align: center;
}
       

       

       
    





















































