* {
    margin:20px;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    
       }

 .containerPage {

  text-align: center;
  flex: content;
}
       
#timeLeft {
  float: right;
}
.header {
  text-align: center;
  
}










       
    





















































